body {
    background-color: #1e1d1e;
    color: #cccccc;
}

#login-card {
    width: 70%;
    max-width: 30em;
    margin-top: 2em;
    padding: 0;
}

#login-form {
    padding: 1em;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #cccccc;
    border-radius: 3px;
}

#login-header{
    background-color: #5300c1;
    color: #cccccc;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

#page-header{
    background-color: #5300c1;
}

#login-card input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#login-card input[type=submit] {
    width: 100%;
    background-color: #5300c1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login-card input[type=submit]:hover {
    background-color: #5300c1;
    max-width: 30em;
}

img {
    border-radius: 50%;
}

#title {
    font-size: 5em;
    font-family: 'Germania One', cursive;
    text-decoration: underline;
}

#logo {
    font-family: 'Germania One', cursive;
    font-weight: bold;
}

#bluff {
    font-size: 1.5em;
    font-family: 'Germania One', cursive;
    width: 70%;
}