<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Team 7</title>
</head>
<body>
<div class="w3-bar" id="page-header">
    <div id="logo" class="w3-bar-item w3-left">JS</div>
    <a href="/login" class="w3-bar-item w3-button w3-right ">Login</a>
</div>
<main class="w3-margin w3-padding-16">
    <div class="w3-content w3-center">
    <img src="/static/images/profile2.jpg"/>
        </div>
    <h1 id="title" class="w3-center">Justin Pelletier</h1>
    </br>
    <div id="bluff" class="w3-content w3-center">Some call him "The Guy," some call him "The Man". But no matter what
        you call him, you know that professor
        Pelletier is a big deal. The story of his life can only be accessed by the most privileged users. Do you think
        you're
        good enough?
    </div>
</main>
</body>

<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
</html>